.Landing h1 {
  font-weight: 100;
  padding: 10% 28% 0 0;
  font-size: 57px;
  color: rgb(0, 0, 0);
  font-variant: small-caps;
  margin: 0;
  letter-spacing: 5px;
  position: relative;
  top: 28px;
  z-index: 1;
}

#input {
  width: 200px;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  text-align: center;
  padding-top: 10%;
}

.Landing button {
  height: 30px;
  width: 100px;
  background: white;
  font-variant: small-caps;
  margin-top: 25px;
}

.Landing button:hover {
  background: rgb(158, 158, 158);
}

.Enter {
  background: rgb(206, 206, 206);
  margin-left: 10%;
  display: left;
  opacity: 0.5;
  height: 30%;
  width: 40%;
}

.Landing {
  background-image: url("../Assets/Couple/d.jpg");
  height: 100vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#sig {
  /* padding: 24% .5% 0; */
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-variant: small-caps;
  letter-spacing: 3px;
  /* position: fixed; */
  margin: 0;
}
