#date {
  height: 125%;
  float: right;
  position: relative;
  width: 648px
}

#photo {
  position: relative; 
  top: -1180px;
  float: left;
  width: 728px
}

.info {
    height: 770px;
  background: none;
  overflow: hidden;
}

#butt {
  position: relative;
  float: left;
  z-index: 1;
}
