#date {
    height: 125%;
  float: left;
}

#photo {
  position: relative; 
  top: -1190px;
  float: right;
  width: 750px
}

.info {
    height: 770px;
  background: none;
  overflow: hidden;
}

#butt {
  float: left;
}
