.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid;  */
    margin: 0 8%;
}



.Nav h1 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: black;
}

.Nav h1:hover {
   color: palevioletred
}